@import url(http://fonts.googleapis.com/css?family=Vast+Shadow);

body {
	background: url("images/wood.jpg");
}

header {
	width: 100%;
	text-align: center;
}

h1 {
	font-size: 3em;
}

#pictureButton {
	height: 50px;
	margin-left: 10px;
	width: 200px;
	height: 50px;
}

#countdown span {
	font-size: 3em;
	margin-left: 100px;
	opacity: .2;
}

video {
	padding-right: 145px;
	padding-top: 50px;
}

#takePicture img {
	padding-bottom: 15px;
	padding-right: 5px;
	vertical-align: middle;
	margin: 10px 5px 5px 5px;
}

#takePicture span {
	padding-top: 10px;
	font-size: 1.5em;
}

#takePicture {
	padding-right: 10px;
}

#videoDrawer {
	text-align: center;
	z-index: 10014;
}

#sorry {
	text-align: center;
}

.snapshot {
	background: white;
	margin: 10px 10px 10px 10px;
	padding: 10px;
	-webkit-box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	-moz-box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	float: left;
	cursor: pointer;
}

#droptarget
{
	border: 1px solid #959595;
	height: 198px;
	font-size: 36px;
	border-radius: 37px;
	text-align: center;
	line-height: 198px;
	color: #a1a1a1;
	text-shadow: 0 1px 1px #fff;
	margin: 0 0 30px 250px;
	cursor: default;

	background: #dddddd;
	background: -moz-linear-gradient(top, #dddddd 0%, #c1c1c1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#c1c1c1));
	background: -webkit-linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
	background: -o-linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
	background: -ms-linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
	background: linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
}

#customize {
	width: 900px;
}

.left {
	float: left;
}

.right {
	margin-left: 490px;
}

.form-row: {
	clear: both;
}

.form-left {
	float: left;
	margin-left: 10px;
}

.form-right {
	margin: 10px 0px 30px 10px
}

#pictureButton {
	clear: left;
}

#countdown {
	clear: left;
}
