@import url(http://fonts.googleapis.com/css?family=Vast+Shadow);

body {
	background: url("images/squares.jpg");
	background-attachment:fixed;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	text-align: center;
	opacity: .8;
}

h1 {
	font-family: "Vast Shadow";
	font-size: 3em;
}

#main {
	margin-top: 75px;
	text-align: center;
}

.row {
	height: 100%;
}

@media screen{
  body>div#header{
   position: fixed;
  }
 }

#countdown {
	margin-top: 30px;
}

#countdown span {
	font-size: 5em;
	opacity: .1;
	margin: 0px 50px 0px 50px;
}

#video {
	margin-top: 10px;
	margin-bottom: 10px;
}

#sorry {
	text-align: center;
}

#snapshots {
	width: 200px;
	text-align: center;
}

#photobooth {
	width: 200px;
	text-align: center;
}

.snapshot {
	margin-bottom: 10px;
	display: none;
	background: white;
	padding: 10px;
	width: 180px;
	height: 180px;
	-webkit-box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	-moz-box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	cursor: pointer;
}

.photostrip {
	-webkit-box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	-moz-box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	display: none;
}

.kendo-logo {
	position: absolute;
	left: 0;
	top: 5px;
}

.caption {
	text-align: center;
}

#customize {
	width: 900px;
}

#pictureButton {
	font-size: 2em;
}

#countdown {
	clear: left;
}
