html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: transparent url("images/background.jpg") repeat 50% 50%;
	color: #9f9082;
}

#main {
	text-align: center;
	width: 460px;
	display: inline-block;
	height: 100%;
	margin: 0 20px 0 60px;
	background: rgba(41,33,29,0.72);
}

#logo {
	width: 195px;
	height: 102px;
}

#video {
	margin-top: 20px;
}

#controls button {
	text-transform: uppercase;
	color: #d8c7b8;
	text-shadow: 1px 0 3px #000;
	border: 0;
	background: transparent url("images/button.png") no-repeat 50% 0;
	width: 123px;
	height: 57px;
	vertical-align: middle;
}

#controls .separator {
	vertical-align: middle;
	margin: 0 15px;
	color: #817871;
	font: italic 18px/1.5 Georgia,sans-serif;
}

#container {
	display: inline-block;
	vertical-align: top;
	margin-top: 33px;
}

#countdown {
	margin-top: 30px;
}

#countdown span {
	font-size: 5em;
	color: #d8c7b8;
	opacity: .1;
	margin: 0px 50px 0px 50px;
}

#sorry {
	text-align: center;
}

#snapshots,
#photobooth {
	float: left;
	width: 200px;
	margin-right: 1em;
	text-align: center;
}

footer {
	margin-top: 56px;
	color: #817871;
}

footer p {
	margin: 0 0 20px;
}

footer img {
	vertical-align: middle;
}

.snapshot {
	margin-bottom: 10px;
	display: none;
	background: white;
	padding: 10px;
	width: 180px;
	height: 180px;
	-webkit-box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	-moz-box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	cursor: pointer;
}

.photostrip {
	-webkit-box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	-moz-box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	box-shadow: 1px 0px 10px 2px rgba(33, 33, 33, .5);
	display: none;
}

.caption {
	text-align: center;
}

#customize {
	width: 900px;
}

#pictureButton {
	font-size: 2em;
}

#countdown {
	clear: left;
}
