!!! 5
html
    head
        link(rel='stylesheet', href='http://cdn.kendostatic.com/2012.1.322/styles/kendo.common.min.css')
        link(rel='stylesheet', href='http://cdn.kendostatic.com/2012.1.322/styles/kendo.default.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/site.css')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HTML5 Camera
    body!= body
    
    script(src="http://webintents.org/webintents-prefix.js")

    script(src='javascripts/libs/require/require.js', data-main='javascripts/main')
    