
<div id="customize">
	<div class="row">
		<div class="span6">
			<div class="row centered no-margin">
				<div class="canvas"></div>
				<div class="yep-nope">
					<button class="button" data-bind="events: { click: yep }">Yep</button>
					<button class="button" data-bind="events: { click: nope }">Nope</button>
				</div>
			</div>
		</div>
		<div class="span4">
			<h3>Brightness / Contrast</h3>
			<div>
				<div>Brightness<div>
				<input class="slider" data-role="slider" data-tick-placement="none" data-bind="value: effects.brightnessContrast.brightness.value, events: { slide: change, change: change }" data-small-step=".01" data-large-step=".01" min="0" max="1" />
			</div>
			<div>
				<div>Contrast</div>
					<input class="slider" data-role="slider" data-tick-placement="none" data-bind="value: effects.brightnessContrast.contrast.value, events: { slide: change, change: change }" max="1" min="0" data-small-step=".01" data-large-step=".01"/>
				</div>
			</div>
			<br />
			<h3>Vignette</h3>
			<div>
				<div>Corner Size</div>
					<input data-role="slider" data-tick-placement="none" class="slider" data-large-step=".01" data-small-step=".01" max="1" min="0" data-bind="value: effects.vignette.size.value, events: { slide: change, change: change }" />
			</div>
			<div>	
				<div>Corner Amount</div>
				<input data-role="slider" data-tick-placement="none" class="slider" data-large-step=".01" data-small-step=".01" max="1" min="0" data-bind="value: effects.vignette.amount.value, events: { slide: change, change: change }" />
			</div>
			<br />
			<h3>Hue / Saturation</h3>
			<div>
				<div>Hue</div>
					<input data-role="slider" data-tick-placement="none" class="slider" data-large-step=".01" data-small-step=".01" max="1" min="0" data-bind="value: effects.hueSaturation.hue.value, events: { slide: change, change: change }" />
			</div>
			<div>	
				<div>Saturation</div>
				<input data-role="slider" data-tick-placement="none" class="slider" data-large-step=".01" data-small-step=".01" max="1" min="0" data-bind="value: effects.hueSaturation.saturation.value, events: { slide: change, change: change }" />
			</div>
			<br />
			<h3>Noise</h3>
			<div>
				<div>Noise</div>
					<input data-role="slider" data-tick-placement="none" class="slider" data-large-step=".01" data-small-step=".01" max="1" min="0" data-bind="value: effects.noise.noise.value, events: { slide: change, change: change }" />
			</div>
			<!--
			<div>
				<div>Denoise</div>
					<input data-role="slider" data-tick-placement="none" class="slider" data-large-step="1" data-small-step="1" max="50" min="0" data-bind="value: effects.denoise.denoise.value, events: { slide: change, change: change }" />
			</div>
		-->
		</div>
	</div>
</div>