<div class="snapshot box">
	<div class="wrap">
		<img class="picture" width="180" height="130" />
	</div>
	<div class="actions">
		<div class="share">
			<a class="download pointer" rel="Download"><img src="images/icons/glyphicons_200_download.png" /></a>
			<a class="intent pointer" rel="Twitter"><img src="images/icons/glyphicons_326_share.png" /></a>
		</div>
		<div class="delete">
			<a class="trash pointer" rel="Trash"><img src="images/icons/glyphicons_016_bin.png" /></a>
		</div>
	</div>
</div>